{% extends "base.html" %}



{% block page_title %}
    {{ month_in_question|title }} Challenge</title>
{% endblock %} 



{% block content %}

    {% include "challenges/includes/header.html" %}

    <h1>{{ month_in_question|title }} Challenge</h1> <!-- title filter for capitalization -->
    {% if ch_text is not None %}
        <h2>{{ ch_text }}</h2> <!-- special syntax to inject dynamic content here, which is not html; it's used by Django, which pares the template file --> 
    {% else %}
        <p>There is no challenge for this month yet!</p>
    {% endif %}

{% endblock %} 